body{
    background-color: rgb(13, 63, 46);
    font: normal 16px Arial, sans-serif;
    text-align: center;
    margin:0;
    padding:0;
}

 
header {
    color:white;
    margin-top: 30px;

}

section {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.705);
    max-width: 400px;
    width: 90%;
}

input, button{
    margin-top:10 px;
}

img{
    transition: transform 0.4 ease;
    width:350px;
    border-radius:10px;
} img:hover{
    transform: scale (1.5);
}

footer {
    font: 100 12pt arial;
    text-align: center;

}